// Global branded styling. App specific styling should NOT go in this file
.nav-tabs{
    &.nav-tabs-sm{
      font-size: 0.8rem;    
      .nav-link{padding: 0.25em 1em;}
    }
}

.tab-content{
    .card{border-top-left-radius:0;border-top-right-radius:0;border-top:0;}
}
